<!-- Single button -->
<div class="btn-group {{button.menuClass}}">
  {{# button.showSplit }}
  <button type="button" class="btn {{button.buttonColor}} {{button.buttonSize}}">{{ button.caption }}</button>
  <button type="button" class="btn {{button.buttonColor}} dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  {{/ button.showSplit }}

  {{^ button.showSplit }}
  <button type="button" class="btn {{button.buttonColor}} {{button.buttonSize}} dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    {{ button.caption }} <span class="caret"></span>
  </button>
  {{/ button.showSplit }}
  
  <ul class="dropdown-menu {{dropClass}}" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
