<div class="row">
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #d3222a;"></span>
		<span class="sg-label">red: #d3222a</span>
	</div>
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #856db7;"></span>
		<span class="sg-label">purple: #856db7</span>
	</div>
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #af1685;"></span>
		<span class="sg-label">pink: #af1685</span>
	</div>
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #6cc24a;"></span>
		<span class="sg-label">green: #6cc24a</span>
	</div>
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #b7bf10;"></span>
		<span class="sg-label">olive: #b7bf10</span>
	</div>
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #a9431e;"></span>
		<span class="sg-label">brown: #a9431e</span>
	</div>
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #ff8100;"></span>
		<span class="sg-label">orange: #ff8100</span>
	</div>
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #ffba00;"></span>
		<span class="sg-label">honey: #ffba00</span>
	</div>
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #ffd624;"></span>
		<span class="sg-label">yellow: #ffd624</span>
	</div>
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #236192;"></span>
		<span class="sg-label">blue: #236192</span>
	</div>
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #00a3e0;"></span>
		<span class="sg-label">blue-light: #00a3e0</span>
	</div>
</div>

<div class="row">
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">black: #000000</span>
	</div>
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">gray-dark: #333333</span>
	</div>
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #595959;"></span>
		<span class="sg-label">gray: #595959</span>
	</div>
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #cccccc;"></span>
		<span class="sg-label">gray-light: #cccccc</span>
	</div>
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #ededed;"></span>
		<span class="sg-label">gray-lighter: #ededed</span>
	</div>
	<div class="col-sm-2">
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">white: #ffffff</span>
	</div>
</div>
