<p>Primary font: Arial, Helvetica, sans-serif</p>
<p><em>Primary font italic: Arial, Helvetica, sans-serif</em></p>
<p><strong>Primary font bold: Arial, Helvetica, sans-serif</strong></p>
<p class="font-secondary">Secondary font: "Helvetica Neue", Helvetica, Arial, sans-serif</p>
<p class="font-secondary"><em>Secondary font italic: "Helvetica Neue", Helvetica, Arial, sans-serif</em></p>
<p class="font-secondary"><strong>Secondary font bold: "Helvetica Neue", Helvetica, Arial, sans-serif</strong></p>
