
<h1>Example: Stacked-to-horizontal</h1>
<p>Using a single set of .col-md-* grid classes, you can create a basic grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal on desktop (medium) devices. Place grid columns in any .row.</p>

<div class="container-fluid">
  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-1">.col-md-1</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-1">.col-md-1</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-1">.col-md-1</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-1">.col-md-1</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-1">.col-md-1</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-1">.col-md-1</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-1">.col-md-1</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-1">.col-md-1</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-1">.col-md-1</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-1">.col-md-1</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-1">.col-md-1</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-1">.col-md-1</div>
  </div>
  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-8">.col-md-8</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-4">.col-md-4</div>
  </div>
  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-4">.col-md-4</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-4">.col-md-4</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-4">.col-md-4</div>
  </div>
  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-6">.col-md-6</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-6">.col-md-6</div>
  </div>
</div>

<h1>Example: Mobile and desktop</h1>
<p>Don't want your columns to simply stack in smaller devices? Use the extra small and medium device grid classes by adding .col-xs-* .col-md-* to your columns. See the example below for a better idea of how it all works.</p>

<div class="container-fluid">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  </div>

  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  </div>

  <!-- Columns are always 50% wide, on mobile and desktop -->
  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-6">.col-xs-6</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-6">.col-xs-6</div>
  </div>
</div>

<h1>Example: Mobile, tablet, desktop</h1>
<p>Build on the previous example by creating even more dynamic and powerful layouts with tablet .col-sm-* classes.</p>

<div class="container-fluid">
  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  </div>

  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs-block"></div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
  </div>
</div>

<h1>Example: Column wrapping</h1>
<p>If more than 12 columns are placed within a single row, each group of extra columns will, as one unit, wrap onto a new line.</p>

<div class="container-fluid">
  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-9">.col-xs-9</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-4">.col-xs-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-6">.col-xs-6<br>Subsequent columns continue along the new line.</div>
  </div>
</div>

<h1>Responsive column resets</h1>
<p>With the four tiers of grids available you're bound to run into issues where, at certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a .clearfix and our responsive utility classes.</p>

<div class="container-fluid">
  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>

    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
  </div>
</div>

<p>In addition to column clearing at responsive breakpoints, you may need to reset offsets, pushes, or pulls. See this in action in the grid example.</p>

<div class="container-fluid">
  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-sm-5 col-md-6">.col-sm-5 .col-md-6</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">.col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0</div>
  </div>

  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-sm-6 col-md-5 col-lg-6">.col-sm-6 .col-md-5 .col-lg-6</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-sm-6 col-md-5 col-md-offset-2 col-lg-6 col-lg-offset-0">.col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0</div>
  </div>
</div>
