
<p>Move columns to the right using .col-md-offset-* classes. These classes increase the left margin of a column by * columns. For example, .col-md-offset-4 moves .col-md-4 over four columns.</p>

<div class="container-fluid">
  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-4">.col-md-4</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
  </div>
  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
  </div>
  <div style="margin-bottom: 12px;" class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
  </div>
</div>
