
<p>To nest your content with the default grid, add a new .row and set of .col-sm-* columns within an existing .col-sm-* column. Nested rows should include a set of columns that add up to 12 or fewer (it is not required that you use all 12 available columns).</p>

<div class="container-fluid">
  <div class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-sm-9">
      Level 1: .col-sm-9
      <div class="row">
        <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-8 col-sm-6">
          Level 2: .col-xs-8 .col-sm-6
        </div>
        <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-xs-4 col-sm-6">
          Level 2: .col-xs-4 .col-sm-6
        </div>
      </div>
    </div>
  </div>
</div>
