
<p>Easily change the order of our built-in grid columns with .col-md-push-* and .col-md-pull-* modifier classes.</p>
  
<div class="container-fluid">
  <div class="row">
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-9 col-md-push-3">.col-md-9 .col-md-push-3</div>
    <div style="background: #ccc; color: #000; border: solid 1px #000; padding-top: 8px;padding-bottom: 8px;" class="col-md-3 col-md-pull-9">.col-md-3 .col-md-pull-9</div>
  </div>
</div>
