
<div class="input-group {{inputGroup.size}}">
  {{# inputGroup.showPre }}
  <span class="input-group-addon">{{inputGroup.preContents}}</span>
  {{/ inputGroup.showPre }}
  <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
  {{# inputGroup.showPost }}
  <span class="input-group-addon">{{inputGroup.postContents}}</span>
  {{/ inputGroup.showPost }}
</div>
