<div class="{{dropdown.mainClass}}">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu {{dropdown.dropdownAlignment}}" role="menu" aria-labelledby="dropdownMenu1">
    {{# dropdown.showHeaders }}
    <li role="presentation" class="dropdown-header">Dropdown header</li>
    {{/ dropdown.showHeaders }}
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    {{# dropdown.showDisabled }}
    <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
    {{/ dropdown.showDisabled }}
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    {{# dropdown.showHeaders }}
    <li role="presentation" class="dropdown-header">Dropdown header</li>
    {{/ dropdown.showHeaders }}
    {{# dropdown.showDivider }}
    <li role="presentation" class="divider"></li>
    {{/ dropdown.showDivider }}
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
