    <!--DO NOT REMOVE-->
    {% pattern-lab-foot %}

    <!-- JS Build -->
    <script type="text/javascript" src="../../assets/scripts/script.min.js"></script>
    <!-- endbuild -->
  </body>
</html>
