<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation" class="disabled"><a href="#">Disabled link</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>