
<div class="{{ logo.class }}">
  <a href="{{ logo.url }}">Ameritas - fulfilling life</a>
  {{# logo.showSubsite }}
    <div class="subsite">
      {{ logo.subsiteName }}
    </div>
  {{/ logo.showSubsite }}
</div> 
