
<div class="logo logo-red-white">
  <a href="{{ logo.url }}">Ameritas - fulfilling life</a>
  {{# logo.showSubsite }}
  <div class="subsite">
    {{ sitename }}
  </div>
  {{/ logo.showSubsite }}
</div> 
