
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://placeimg.com/171/180/arch" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://placeimg.com/171/180/people" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://placeimg.com/171/180/tech" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://placeimg.com/171/180/any" alt="...">
      </a>
    </div>
  </div>
</div>
