<img src="http://placeimg.com/240/240/nature" alt="..." class="img-rounded">
<img src="http://placeimg.com/240/240/tech" alt="..." class="img-circle">
<img src="http://placeimg.com/240/240/arch" alt="..." class="img-thumbnail">
