
<figure class="check-figure">
  <figcaption>Lorem ipsum sit dolar amit.</figcaption>
  <img src="http://placeimg.com/800/300/any" alt="..." />
</figure>

<figure class="check-figure">
  <img src="http://placeimg.com/800/300/any" alt="..." />
  <figcaption>Lorem ipsum sit dolar amit.</figcaption>
</figure>
