<blockquote {{blockquote.blockquoteClass}}>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>

  {{#blockquote.showFooter}}
  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
  {{/blockquote.showFooter}}
</blockquote>
