
<table class="table table-striped table-hover">
  <caption>Optional table caption.</caption>
  <thead>
    <tr>
      <th class="sortable asc">#</th>
      <th class="sortable">First Name</th>
      <th class="sortable">Last Name</th>
      <th class="sortable">Username</th>
    </tr>
  </thead>
  <tbody>
    <tr class="danger">
      <th scope="row" class="sorting">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row" class="info sorting">2</th>
      <td class="info">Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row" class="warning sorting">3</th>
      <td class="warning">Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th class="sortable asc">#</th>
      <th class="sortable">First Name</th>
      <th class="sortable">Last Name</th>
      <th class="sortable">Username</th>
    </tr>
  </tfoot>
</table>
