
<div class="container-fluid">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
    </label>
  </div>
</div>
