
<div class="form-group">
	<input class="form-control input-lg" type="text" placeholder=".input-lg">
</div>
<div class="form-group">
	<input class="form-control" type="text" placeholder="Default input">
</div>
<div class="form-group">
	<input class="form-control input-sm" type="text" placeholder=".input-sm">
</div>

<div class="form-group">
	<select class="form-control input-lg">
		<option>.input-lg</option>
	</select>
</div>
<div class="form-group">
	<select class="form-control">
		<option>Default</option>
	</select>
</div>
<div class="form-group">
	<select class="form-control input-sm">
		<option>.input-sm</option>
	</select>
</div>
