<div class="pull-left">
	<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
	<p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
</div>
<div class="pull-right">
	<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
	<p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
</div>
